<!DOCTYPE html>
<html>

<head>
  <title>Renan Alves</title>

  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <div class="links">
      <a href="index.html">About</a>
      <span>||</span>
      <a href="classes.html">Watch</a>
    </div>
  </header>

  <div id="wrapper">
      <img src="https://avatars2.githubusercontent.com/u/53740747?s=460&v=4" alt="Renan Alves">
      <h1>Renan Alves</h1>
      <h2>FIAP</h2>
      <p>FullStack Developer at <a href="https://www.linkedin.com/in/renan-mendes-b3482a63/" target="_blank"> . . . Hire Me. . .</a></p>
    </div>

    <div id="links-footer" class="links">
      <a href="https://github.com/renanalves23" target="_blank">Github</a>
      <a href="https://www.linkedin.com/in/renan-mendes-b3482a63/" target="_blank">Linkedin</a>
    </div>
</body>

</html>